<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detección de Necesidades de Formación</title>
  <link href="/css/sidebar.css" rel="stylesheet">
  <link href="/css/output.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body class="flex">

    <%- include('../partials/sidebar') %>
  
    <main class="flex-grow p-6 bg-gray-100">
      
        <div class="container mx-auto p-6">
          <div class="container mx-auto p-6">
            <h2 class="text-2xl font-bold text-blue-600 mb-6">Deteccion de nesecidades de Formación</h2>
          
            <!-- Primera Fila -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
              <div>
                <label for="year" class="block text-sm font-medium text-gray-700 mb-2">Año</label>
                <select id="year" class="block w-full rounded-md border border-gray-300 text-gray-900 py-2 px-3 shadow-sm focus:ring-blue-500 focus:border-blue-500">
                  <option>2024</option>
                  <option>2023</option>
                  <option>2022</option>
                </select>
              </div>
              <div>
                <label for="date" class="block text-sm font-medium text-gray-700 mb-2">Fecha</label>
                <input id="date" value="<%= fechaHoy %>" type="date" class="block w-full rounded-md border border-gray-300 text-gray-900 py-2 px-3 shadow-sm focus:ring-blue-500 focus:border-blue-500">
              </div>
            </div>
          
            <!-- Segunda Fila -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
              <div>
                <label for="class" class="block text-sm font-medium text-gray-700 mb-2">Clase</label>
                <select id="class" class="block w-full rounded-md border border-gray-300 text-gray-900 py-2 px-3 shadow-sm focus:ring-blue-500 focus:border-blue-500">
                  <option>Seleccione una Clase</option>
                  <option>Clase 1</option>
                  <option>Clase 2</option>
                </select>
              </div>
              <div>
                <label for="company" class="block text-sm font-medium text-gray-700 mb-2">Empresa</label>
                <select id="company" class="block w-full rounded-md border border-gray-300 text-gray-900 py-2 px-3 shadow-sm focus:ring-blue-500 focus:border-blue-500">
                  <option>Seleccione una Empresa</option>
                  <option>Empresa 1</option>
                  <option>Empresa 2</option>
                </select>
              </div>
              <div>
                <label for="department" class="block text-sm font-medium text-gray-700 mb-2">Departamento</label>
                <select id="department" class="block w-full rounded-md border border-gray-300 text-gray-900 py-2 px-3 shadow-sm focus:ring-blue-500 focus:border-blue-500">
                  <option>Seleccione un Departamento</option>
                  <option>Ventas</option>
                  <option>Recursos Humanos</option>
                </select>
              </div>
            </div>
          </div>

          
          
            
            <div class="container mx-auto p-6">
          
                <!-- Primera Sección: Agregar Puestos -->
                <div class="bg-white rounded-lg shadow-md p-6 mb-6">
                  <h2 class="text-lg font-semibold text-blue-600 mb-4">Puestos a Capacitar</h2>
                  <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-6">
                    <div>
                      <label for="category" class="block text-lg font-medium text-gray-800 mb-2">Categoría</label>
                      <select id="category" class="block w-full bg-white rounded-md border border-gray-300  text-gray-800 py-3 px-4 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                        <option>Seleccione una Categoría</option>
                        <option>Categoría 1</option>
                        <option>Categoría 2</option>
                      </select>
                    </div>
                    <div>
                      <label for="personnel" class="block text-lg font-medium text-gray-800 mb-2">Personal</label>
                      <select id="personnel" class="block w-full bg-white rounded-md border border-gray-300 text-gray-800 py-3 px-4 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                        <option>Seleccione un Personal</option>
                        <option>Personal 1</option>
                        <option>Personal 2</option>
                      </select>
                    </div>
                    <div>
                      <label for="position" class="block text-lg font-medium text-gray-800 mb-2">Puesto</label>
                      <select id="position" class="block w-full bg-white rounded-md border border-gray-300 text-gray-800 py-3 px-4 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                        <option>Seleccione un Puesto</option>
                        <option>Puesto 1</option>
                        <option>Puesto 2</option>
                      </select>
                    </div>
                    <div>
                      <label for="discipline" class="block text-lg font-medium text-gray-800 mb-2">Disciplina</label>
                      <select id="discipline" class="block w-full bg-white rounded-md border border-gray-300 text-gray-800 py-3 px-4 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                        <option>Seleccione una Disciplina</option>
                        <option>Disciplina 1</option>
                        <option>Disciplina 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="flex justify-end">
                    <button id="addPuestoButton" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:ring-4 focus:ring-blue-300">Agregar Puesto</button>
                  </div>
                </div>
          
                <!-- Tabla de Puestos -->
                <div class="bg-white rounded-lg shadow-md p-6 mb-6">
                  <h2 class="text-lg font-semibold text-blue-600 mb-4">Puestos Seleccionados</h2>
                  <table id="puestosTable" class="table-auto w-full border-collapse">
                    <thead>
                      <tr class="bg-gray-100">
                        <th class="px-4 py-2 border text-sm font-medium text-gray-600">Categoría</th>
                        <th class="px-4 py-2 border text-sm font-medium text-gray-600">Personal</th>
                        <th class="px-4 py-2 border text-sm font-medium text-gray-600">Puesto</th>
                        <th class="px-4 py-2 border text-sm font-medium text-gray-600">Disciplina</th>
                        <th class="px-4 py-2 border text-sm font-medium text-gray-600">Acciones</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
          
                <!-- Segunda Sección: Obras -->
                <div class="bg-white rounded-lg shadow-md p-6 mb-6">
                  <h2 class="text-lg font-semibold text-blue-600 mb-4">Seleccione la obra</h2>
                  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                      <label for="obra" class="block text-lg font-medium text-gray-800 mb-2">Obra</label>
                      <select id="obra" class="block w-full bg-white rounded-sm border border-gray-300 text-gray-800 py-3 px-4 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                        <option>Seleccione una Obra</option>
                        <option>83001 - Avanza operaciones</option>
                        <option>85026 - O&M</option>
                        <option>85056 - Dragados Offshore</option>
                      </select>
                    </div>
                    <div>
                      <label for="percentage" class="block text-lg font-medium text-gray-800 mb-2">Porcentaje %</label>
                      <input type="number" id="percentage" class="block w-full bg-white border-gray-300 text-gray-800 py-3 px-4 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                    </div>
                  </div>
                  <div class="flex justify-end mt-4">
                    <button id="addObraButton" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:ring-4 focus:ring-blue-300">Agregar Obra</button>
                  </div>
                </div>
          
                <!-- Tabla de Obras -->
                <div class="bg-white rounded-lg shadow-md p-6">
                  <h2 class="text-lg font-semibold text-blue-600 mb-4">Obras Asignadas</h2>
                  <table id="obrasTable" class="table-auto w-full border-collapse">
                    <thead>
                      <tr class="bg-gray-100">
                        <th class="px-4 py-2 border text-sm font-medium text-gray-600">Proyecto</th>
                        <th class="px-4 py-2 border text-sm font-medium text-gray-600">Porcentaje %</th>
                        <th class="px-4 py-2 border text-sm font-medium text-gray-600">Acciones</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
          </div>

          <div class="bg-white rounded-lg shadow-md p-6 mb-6">
            <div>
              <label for="percentage" class="block text-lg font-medium text-blue-600 mb-2">Total de personas a capacitar</label>
              <input type="text" id="percentage" class="block w-full bg-white border border-gray-300 text-gray-800 py-3 px-4 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
            </div>
          </div>
            
        
            <div class="bg-white rounded-lg shadow-md p-6 mb-6">
              <h2 class="text-lg font-semibold text-blue-600 mb-4">Datos necesarios para programar cursos</h2>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                  <label for="course" class="block text-lg font-medium text-gray-700">Curso sugerido</label>
                  <input id="course" type="text" placeholder="Ingrese el curso sugerido" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                </div>
                <div>
                  <label for="topics" class="block text-lg font-medium text-gray-700">Temas a desarrollar</label>
                  <input id="topics" type="text" placeholder="Ingrese los temas" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                </div>
              </div>
        
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
                <div>
                  <label for="course-date" class="block text-lg font-medium text-gray-700">Fecha propuesta para el curso</label>
                  <input id="course-date" type="date" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
                </div>
                <div>
                  <label class="block text-lg font-medium text-gray-700">Capacitador</label>
                  <div class="mt-1 flex items-center">
                    <label class="inline-flex items-center mr-4">
                      <input type="radio" name="trainer" value="interno" class="text-blue-500 focus:ring-blue-500">
                      <span class="ml-2 text-gray-700">Interno</span>
                    </label>
                    <label class="inline-flex items-center">
                      <input type="radio" name="trainer" value="externo" class="text-blue-500 focus:ring-blue-500">
                      <span class="ml-2 text-gray-700">Externo</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="border-b border-gray-900/10 pb-12">
                <div class="bg-white rounded-lg shadow-md p-6 mb-6">
                    <h2 class="text-base/7 font-semibold text-gray-900">Establezca la causa que original la DNF</h2>
                  
                    <div class="mt-10 space-y-10">
                        <fieldset>
                            <div class="mt-6 space-y-6">
                              <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                  <input id="comments" name="comments" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                </div>
                                <div class="text-lg/6">
                                  <label for="comments" class="font-sm text-gray-900">Actualizar y perfeccionar conocimientos y habilidades y proporcionar la informacion de nuevas tecnologias</label>
                                  <p class="text-gray-500"></p>
                                </div>
                              </div>
                              <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                  <input id="candidates" name="candidates" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                </div>
                                <div class="text-lg/6">
                                  <label for="candidates" class="font-sm text-gray-900">Prevenir riesgos de trabajo</label>
                                </div>
                              </div>
                              <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                  <input id="offers" name="offers" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                </div>
                                <div class="text-lg/6">
                                  <label for="offers" class="font-sm text-gray-900">Incremento a la productividad</label>
                                </div>
                              </div>
                              <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                  <input id="offers" name="offers" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                </div>
                                <div class="text-lg/6">
                                  <label for="offers" class="font-sm text-gray-900">Mejorar el nivel educativo</label>
                                </div>
                              </div>
                              <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                  <input id="offers" name="offers" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                </div>
                                <div class="text-lg/6">
                                  <label for="offers" class="font-sm text-gray-900">Preparan para ocupar vacantes o puestos de nueva creacion</label>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                    </div>
                </div>
            </div>


            <div class="flex flex-nowrap space-x-4">
              <div class="w-1/2">
                <button 
                  id="authorizeButton"
                  class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:ring-4 focus:ring-blue-300">
                  Autorizar automáticamente la DNF
                </button>
              </div>
              <div class="w-1/2">
                <button 
                  id="saveButton"
                  class="w-full bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:ring-4 focus:ring-green-300">
                  Guardar
                </button>
              </div>
            </div>
            
        
            
          </div>

          
    </main>

    <script>
      document.getElementById('addPuestoButton').addEventListener('click', () => {
        const category   = document.getElementById('category').value;
        const personnel  = document.getElementById('personnel').value;
        const position   = document.getElementById('position').value;
        const discipline = document.getElementById('discipline').value;

        if (!category || !personnel || !position || !discipline) {
          Swal.fire('Error', 'Por favor, complete todos los campos.', 'info');
          return;
        }

        const table = document.querySelector('#puestosTable tbody');
        const row = document.createElement('tr');
        row.innerHTML = `
          <td class="px-4 py-2 border">${category}</td>
          <td class="px-4 py-2 border">${personnel}</td>
          <td class="px-4 py-2 border">${position}</td>
          <td class="px-4 py-2 border">${discipline}</td>
          <td class="px-4 py-2 border text-center">
            <button class="deleteRow bg-red-500 text-white p-2 rounded-md">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        `;
        table.appendChild(row);

        row.querySelector('.deleteRow').addEventListener('click', () => row.remove());
      });

      let totalPercentage = 0;
      document.getElementById('addObraButton').addEventListener('click', () => {
        const obra = document.getElementById('obra').value;
        const percentage = parseInt(document.getElementById('percentage').value);

        if (!obra || isNaN(percentage) || percentage <= 0) {
          Swal.fire('Error', 'Ingrese datos válidos.', 'info');
          return;
        }

        if (totalPercentage + percentage > 100) {
          Swal.fire('Error', 'El porcentaje no puede exceder 100%.', 'info');
          return;
        }

        const table = document.querySelector('#obrasTable tbody');
        const row = document.createElement('tr');
        row.innerHTML = `
          <td class="px-4 py-2 border">${obra}</td>
          <td class="px-4 py-2 border">${percentage}%</td>
          <td class="px-4 py-2 border text-center"><button class="deleteRow bg-red-500 text-white p-2 rounded-full"><i class="fa-solid fa-trash"></i></button></td>
        `;
        table.appendChild(row);

        row.querySelector('.deleteRow').addEventListener('click', () => {
          totalPercentage -= percentage;
          row.remove();
        });

        totalPercentage += percentage;
      });

      document.getElementById('authorizeButton').addEventListener('click', () => {

        console.log('alerta abierta para autorizar dnf')
        Swal.fire({
          title: '¿Estás seguro?',
          text: "Esta acción autorizará automáticamente la DNF.",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Sí, autorizar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire(
              'Autorizado',
              'La DNF ha sido autorizada automáticamente.',
              'success'
            );
            // Aquí puedes agregar la lógica de autorización
          }
        });
      });

  
    document.getElementById('saveButton').addEventListener('click', () => {
      console.log('alerta abierta para guardar dnf')
      Swal.fire({
        title: '¿Estás seguro?',
        text: "¿Deseas guardar esta información?",
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#28a745',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, guardar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Guardado',
            'La información ha sido guardada exitosamente.',
            'success'
          );
          // Aquí puedes agregar la lógica para guardar
        }
      });
    });
  </script>
</body>
</html>
    