<footer class="bg-gray-800 text-white w-full">
    <div class="text-center">
      <p class="text-sm">&copy; <%= fecha %> Modulo Capacitacion - Dragados Offshore. Todos los derechos reservados.</p>
      <p class="text-sm">
        <a href="#" class="text-indigo-400 hover:text-indigo-300">Política de privacidad</a> | 
        <a href="#" class="text-indigo-400 hover:text-indigo-300">Términos de servicio</a>
      </p>
    </div>
</footer>
